<div class="container">
  <div class="row justify-content-center">
    <div class="card o-hidden border-0 shadow-lg my-5 col-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"><%= t('.sign_up_with_app_name', app_name: 'Re:Backlogs', default: 'Sign up to Re:Backlogs') %></h1>
              </div>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'user'}) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.text_field :username, placeholder: t('activerecord.attributes.user.username', default: 'Username'), autofocus: true, class: 'form-control form-control-user' %>
                </div>
                <div class="form-group">
                  <%= f.email_field :email, placeholder: t('activerecord.attributes.user.email', default: 'Email'), autofocus: false, class: 'form-control form-control-user' %>
                </div>
                <div class="form-group">
                  <% minimum_password_msg = @minimum_password_length ? "(#{@minimum_password_length} characters minimum)" : '' %>
                  <% msg = t('devise.shared.minimum_password_length', count:  @minimum_password_length, default: "#{minimum_password_msg}")%>
                  <% placeholder = "#{t('activerecord.attributes.user.password', default: 'Password')} #{msg}" %>
                  <%= f.password_field :password, placeholder: placeholder, class: 'form-control form-control-user' %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, placeholder: t('activerecord.attributes.user.password_confirmation', default: 'Password Confirmation'), class: 'form-control form-control-user' %>
                </div>
                <%= f.submit t('.sign_up', default: 'Sign up'), class: "btn btn-primary btn-user btn-block" %>
              <% end %>
              <hr>
              <div class="text-center">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>