<%= javascript_packs_with_chunks_tag 'remove_header_margin' %>
<%= stylesheet_pack_tag 'kanban', media: 'all' %>
<%= javascript_packs_with_chunks_tag 'kanban' %>

<div id="wrapper">
  <%= render 'commons/sidebar', { project: @sprint.project } %>
  <div id="content-wrapper" class="d-flex flex-column">
    <% if @sprint.project.is_public %>
      <div class="alert alert-info  mb-1">
        <%= t('.public_project_message', default: 'This is a public project. Non-member users are only allowed to comment on tickets.') %>
      </div>
    <% end %>
    <!-- Main Content -->
    <div id="content"
      data-project-id="<%= @sprint.project.id %>"
      data-sprint-id="<%= @sprint.id %>"
      data-sprint-title="<%= @sprint.title %>">
      <router-view />
    </div>
  </div>
</div>