<%= javascript_packs_with_chunks_tag 'remove_header_margin' %>
<%= stylesheet_pack_tag 'kanban', media: 'all' %>
<%= javascript_packs_with_chunks_tag 'kanban' %>

<div id="wrapper">
  <%= render 'commons/sidebar', { project: @sprint.project } %>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content"
      data-project-id="<%= @sprint.project.id %>"
      data-project-title="<%= @sprint.project.title %>"
      data-sprint-id="<%= @sprint.id %>"
      data-sprint-title="<%= @sprint.title %>"
      data-is-public="<%= @sprint.project.is_public %>">
      <router-view />
    </div>
  </div>
</div>