<%= simple_form_for project do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved.other', count: project.errors.count, resource: 'Project') %></h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, placeholder: t('.placeholder.title', default: 'My awesome project') %>
  <%= f.input :body, as: :text, input_html: { rows: 5 }, placeholder: t('.placeholder.description', default: 'Description format') %>
  <%= f.input :ticket_prefix,
    placeholder: t('.placeholder.ticket_prefix', default: 'e.g.) AWE'),
    hint: t('message.ticket_prefix_description', default: 'Ticket Prefix is an arbitrary string that is added to the beginning of the ticket number.') %>
  <%= f.input :is_public %>

  <div class="action d-flex justify-content-end">
    <%= f.submit nil, class: 'btn btn-primary mr-2' %>
    <%= link_to t('actions.back', default: 'Back'), projects_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
