<%= javascript_packs_with_chunks_tag 'remove_header_margin' %>
<%= stylesheet_pack_tag 'backlogs', media: 'all' %>
<%= javascript_packs_with_chunks_tag 'backlogs' %>

<div id="wrapper">
  <%= render 'commons/sidebar', { project: @project } %>
  <div id="content-wrapper" class="d-flex flex-column">
    <% if @project.is_public %>
      <div class="alert alert-info">
        <%= t('.public_project_message', default: 'This is a public project. Non-member users are only allowed to comment on tickets.') %>
      </div>
    <% end %>
    <!-- Main Content -->
    <div id="content" data-project-id="<%= @project.id %>">
      <router-view />
    </div>
  </div>
</div>