<%= javascript_packs_with_chunks_tag 'remove_header_margin' %>
<%= stylesheet_pack_tag 'backlogs', media: 'all' %>
<%= javascript_packs_with_chunks_tag 'backlogs' %>

<div id="wrapper">
  <%= render 'commons/sidebar', { project: @project } %>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content"
      data-project-id="<%= @project.id %>"
      data-project-title="<%= @project.title %>"
      data-is-public="<%= @project.is_public %>">
      <router-view />
    </div>
    <% if @project.is_public %>
      <div class="alert alert-warning mb-0 fixed-bottom">
        <%= t('.public_project_message', default: 'This is a public project. Non-member users are only allowed to comment on tickets.') %>
      </div>
    <% end %>
  </div>
</div>