<%= javascript_packs_with_chunks_tag 'remove_header_margin' %>

<div id="wrapper">
  <%= render 'application_settings/common/sidebar' %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div class="container mt-2">
      <div class="row my-2">
        <h3 class="text-gray-800"><%= t('.title', default: 'General Settings') %></h3>
      </div>
      <div class="row">
        <div class="card w-100 mb-4">
          <div class="card-body">
            <%= simple_form_for :settings, url: application_settings_path do |f| %>
              <%= f.input :site_title, as: :string, input_html: { value: Setting.site_title } %>
              <%= f.input :head_custom_script, as: :text, input_html: { value: Setting.head_custom_script, rows: 5  } %>
              <%= f.input :body_custom_script, as: :text, input_html: { value: Setting.body_custom_script, rows: 5  } %>
              <div class="d-flex justify-content-end">
                <%= f.submit nil, class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
