<!DOCTYPE html>
<html>
  <head>
    <title>Re:Backlogs</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
